* {
  box-sizing: border-box;
}

body {
  font-size: calc(0.625rem + ((1vw - 0.01px) * 0.9117));
  min-height: 0vw;
}
/* 6.24rem == 100px*/
#container {
  margin: 0.5rem auto;
  display: grid;
  background-color: #E8DD8A;
  grid-gap: 1px;
}

body, #container, #options, #controller{
  max-width: 100% !important;
}

#status-label[disabled]  {
  visibility: hidden;
}

#status-label{

  color: #13232E;
  font-family: monospace;
  font-size: 1rem;
  text-transform: lowercase;
  margin-top: 0.5rem;
}

button {
  font-family: monospace, sans-serif;
  outline: none;
  text-transform: lowercase;
  letter-spacing: 0.12rem;
  text-align: center;
  border: none;
  background-color: #13232E;
  color: #E8DD8A;
  height: 3rem;
  cursor: pointer;
}

button:hover {
  background-color: #E8DD8A;
  color: #13232E;
}

#controller {
  font-size: 1.3rem;
  text-transform: lowercase;
  letter-spacing: 0.4rem;
  height: 3rem;
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

#options button {
  width: 50%;
  text-align: left;
}

#options button span{
  display: block;
  font-size: 0.8rem;
}

#options button:nth-child(2) {
  margin: 0 0.08rem !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}